# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# VSCode settings
.vscode/

# Coverage reports
coverage/

# Database files
*.sqlite
*.db

# Temp files
*.tmp
*.swp

# Postman collections temp
c:\Users\felip\AppData\Local\Temp/postman-collections-*
c:\Users\felip\AppData\Local\Temp/postman-folder-*
c:\Users\felip\AppData\Local\Temp/postman-http-request-*

# Misc
/generated/prisma
.vercel
